<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.librarymgmtsystem">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Library Management System"
        android:theme="@style/Theme.LibraryMgmtSystem">

        <activity
            android:name=".MainActivity"
            android:label="Library Management System"
            android:theme="@style/Theme.LibraryMgmtSystem"
            android:exported="true"> <!-- Add android:exported="true" here -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
